target/

.vscode/
.vs

*.class

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.nexus
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.DS_Store
Thumbs.db

*.pro.user
build-*
templates/*
examples/*
.ssh/
.bash_history
.cache*
.viminfo